body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f2a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #004466;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #5588a3;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}

section#Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem; /* Adjust padding as needed */
}

section#Intro .content {
    display: flex;
    align-items: flex-start;
    max-width: 60rem; /* Adjust as needed */
}

section#Intro .vertical-content {
    display: flex;
    flex-direction: column;
    margin-right: 1rem; /* Adjust spacing between text and image */
}

section#Intro .title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

section#Intro .image img {
    height: 20rem;
    margin-left: 5rem;
}
