@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;300;400&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f2a;
    color: white;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #004466;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #5588a3;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}
main {
    background-color: #1c1f2a;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 0 auto;
}

section#Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

section#Intro .content {
    display: flex;
    align-items: flex-start;
    max-width: 60rem;
}

section#Intro .vertical-content {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

section#Intro .title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.icon-list li {
    margin-right: 1.5rem;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-container img {
    max-width: 2rem;
    max-height: 2rem;
    height: auto;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    display: block;
}


section#Intro .image img {
    height: 20rem;
    margin-left: 5rem;
}

section#Intro a {
    text-decoration: underline;
    color: white;
}

section#Intro a:hover {
    color: #5588a3;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-rectangle {
    background-color: #004466;
    height: 6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.67rem;
    margin-top: 0.67rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s;
    overflow: hidden;
}

.grid-rectangle img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 1rem;
    margin: auto;
}

.grid-rectangle .text {
    padding: 1rem;
    max-width: 45%;
    margin-left: 3rem;
}


.grid-rectangle:hover {
    transform: scale(1.05);
}

.grid-rectangle a {
    text-decoration: none;
    color: white;
    transition: color 0.3s;
}

.grid-rectangle a:hover {
    color: #5588a3;
}

.design-section {
    display: flex;
    flex-direction: unset;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
}

.design {
    display: flex;
    align-items: center;
    justify-content: center;
}

.timeline {
    width: auto;
    height: auto;
    margin: 0 auto;
}

.timeline-right{
    width: auto;
    height: auto;
    margin: 0 auto;
}

.timeline-content {
    padding: 20px;
    background: #1f1f1f;
    -webkit-box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    box-shadow: 5px 5px 10px #1a1a1a, -5px -5px 10px #242424;
    border-radius: 5px;
    color: white;
    padding-top: 1.75rem;
    padding-bottom: 1.75rem;
    transition: 0.4s ease;
    overflow-wrap: break-word !important;
    margin: 1rem;
    margin-bottom: 20px;
    border-radius: 6px;
}

.timeline-component {
    margin: 0px 20px 20px 20px;
}

@media screen and (min-width: 768px) {
    .timeline {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        margin-left: 0;
    }
    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        width: 3px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media screen and (min-width: 768px) {
    .timeline-right {
        display: grid;
        grid-template-columns: 1fr 3px 1fr;
        margin-right: 0;
    }
    .timeline-middle {
        position: relative;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        width: 3px;
        height: 100%;
    }
    .main-middle {
        opacity: 0;
    }
    .timeline-circle {
        position: absolute;
        top: 0;
        left: 50%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-image: linear-gradient(45deg, #F27121, #E94057, #8A2387);
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}