body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #A4C3B2;
    color: black;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #6B9080;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #EAF4F4;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}
main {
    background-color: #A4C3B2;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 0 auto;
}

section#Intro {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

section#Intro .content {
    display: flex;
    align-items: flex-start;
    max-width: 60rem;
}

section#Intro .vertical-content {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
}

section#Intro .title {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.icon-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.icon-list li {
    margin-right: 1.5rem;
}

.icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.icon-container img {
    max-width: 2rem;
    max-height: 2rem;
    height: auto;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    display: block;
}


section#Intro .image img {
    height: 20rem;
    margin-left: 5rem;
}

section#Intro a {
    text-decoration: underline;
    color: black;
}

section#Intro a:hover {
    color: #EAF4F4;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-rectangle {
    background-color: #6B9080;
    height: 6rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    margin-right: 0.67rem;
    margin-top: 0.67rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s;
    overflow: hidden;
}

.grid-rectangle img {
    width: 75%;
    height: 75%;
    object-fit: cover;
    border-radius: 1rem;
    margin: auto;
}

.grid-rectangle .text {
    padding: 1rem;
    max-width: 45%;
    margin-left: 3rem;
}


.grid-rectangle:hover {
    transform: scale(1.05);
}

.grid-rectangle a {
    text-decoration: none;
    color: black;
    transition: color 0.3s;
}

.grid-rectangle a:hover {
    color: #EAF4F4;
}

