body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f2a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 1rem;
    background-color: #004466;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    color: #e0e0e0;
    text-decoration: none;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #5588a3;
}

nav img {
    height: auto;
    margin-left: 1rem;
    max-width: 3rem;
}

main {
    padding: 1rem;
    flex-grow: 1;
    width: 70rem;
    margin: 2rem auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-container {
    display: flex;
    align-items: flex-start;
}

.text-container {
    flex: 1;
    padding-right: 20px;
}

.image-container {
    flex: 0 0 auto;
}

.image-container img {
    max-height: 100%;
    max-width: none;
    height: auto;
    width: auto;
}


@media (max-width: 768px) {
    .content-container {
        flex-direction: column;
    }

    .text-container, .image-container {
        max-width: 100%;
    }

    .image-container img {
        width: 100%; /* Full width on small screens */
    }

    main {
        width: auto;
        margin: 2rem;
    }

    nav ul {
        flex-direction: column;
        align-items: flex-start;
    }

    nav li {
        margin: 0.5rem 0;
    }
}

section h2 {
    font-size: 3rem;
    margin-bottom: 2rem;
}

.text-container p {
    margin-bottom: 1rem;
}

section a {
    color: white;
    text-decoration: underline;
}

section a:hover {
    color: #5588a3;
}
