body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f2a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #004466;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #5588a3;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}

main {
    background-color: #1c1f2a;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 0 auto;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center;
}

.imageFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    gap: 1rem;
}

.imageFlex img {
    max-height: 100%;
    width: 10rem;
}

ul{
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 2rem;
}

.text-container {
    max-width: 100%;
    margin-bottom: 1rem;

}

.image-container img {
    max-width: 25rem;
    width: 100%;
    height: auto;
    margin-top: 5rem;
}


section h2 {
    margin-bottom: 2rem;
    font-size: 3rem;
}

section a {
    text-decoration: underline;
    color: white;
}

section a:hover {
    color: #5588a3;
}