body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #1c1f2a;
    color: #e0e0e0;
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #004466;
    margin-bottom: 2rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #e0e0e0;
    font-size: 1.5rem;
    transition: color 0.3s;
}

nav a:hover {
    color: #5588a3;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}

main {
    background-color: #1c1f2a;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 70rem;
    margin: 0 auto;
}

.profile-container {
    text-align: center;
    margin-bottom: 1rem;
}

.profile-picture {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    display: block;
}

.text-container {
    text-align: center;
}

#CurrentPage p {
    max-width: 70rem;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 0;
}

#CurrentPage p {
    max-width: 70rem;
    margin: 0 auto;
    font-size: 2rem;
    padding-top: 0;
}

#CurrentPage p:first-child {
    font-size: 5rem;
    padding-bottom: 1rem;
}

#CurrentPage p:last-child {
    margin-bottom: 1rem;
}

.icon-list {
    list-style: none;
    padding: 0;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.icon-container img {
    max-width: 1rem;
    height: auto;
    margin-right: 0.3rem;
    padding-top: 0.7rem;
}

.icon-container a {
    padding-top: 0.7rem;
    font-size: 1rem;
    text-decoration: none;
    color: #e0e0e0;
}

.icon-container:hover a {
    color: #5588a3;
}

#CurrentPage ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#CurrentPage li {
    margin-right: 1rem;
}

section {
    margin-top: 2rem;
    text-align: center;
}

section h2 {
    margin-bottom: 2rem;
    font-size: 5rem;
}

.rectangles-container {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

.big-rectangle,
.side-rectangle {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e0e0e0;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.big-rectangle {
    background-color: #004466;
    height: 17rem;
    border-radius: 1rem;
    margin-right: 1rem;
    width: 50%;
}

.big-rectangle:hover {
    transform: scale(1.05);
}

.small-rectangles {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.side-rectangle {
    background-color: #004466;
    height: 8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

.side-rectangle:hover {
    transform: scale(1.05);
}

.text {
    padding: 1rem;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.grid-rectangle {
    background-color: #004466;
    height: 8rem;
    border-radius: 1rem;
    flex-basis: calc(33.33% - 0.67rem);
    margin-bottom: 1rem;
    margin-right: 0.67rem;
    margin-top: 0.67rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #e0e0e0;
    box-sizing: border-box;
    transition: transform 0.3s;
}

.grid-rectangle:hover {
    transform: scale(1.05);
}

footer {
    padding: 0;
    text-align: center;
    position: relative;
}

footer img {
    width: 100%;
    height: 4rem;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.typing-text {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    position: relative;
    display: inline-block;
}

.cursor {
    display: inline-block;
    width: 0.3em;
    height: 1.5em;
    background-color: #e0e0e0;
    vertical-align: text-bottom;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}
