body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #222; /* Iets lichtere achtergrondkleur voor de hele pagina */
    color: #fff; /* Witte tekstkleur voor contrast */
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem;
    background-color: #111; /* Donkere achtergrondkleur voor de navigatie */
    margin-bottom: 7rem;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%; /* Neem de volledige breedte in beslag */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-left: 1.5rem;
}

nav a {
    text-decoration: none;
    color: #fff; /* Witte tekstkleur voor contrast */
    font-size: 2rem;
}

nav img {
    max-width: 3rem;
    max-height: 3rem;
    height: auto;
    margin-left: 1rem;
}

h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    background-color: #222; /* Iets lichtere achtergrondkleur voor de hoofdinhoud */
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

#CurrentPage {
    text-align: center;
    margin: 0 auto;
}

#CurrentPage p {
    max-width: 70rem;
    margin: 0 auto;  /* Behoud de marge aan de zijkanten */
    font-size: 2rem;
    padding-top: 0;  /* Aangepast naar 0 om de ruimte bovenaan te minimaliseren */
}


#CurrentPage p:first-child {
    font-size: 5rem;
    padding-bottom: 1rem;
}

#CurrentPage p:last-child {
    margin-bottom: 1rem;
}

.icon-list {
    list-style: none;
    padding: 0;
}

.icon-container {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.icon-container img {
    max-width: 0.7rem;
    height: auto;
    margin-right: 0.3rem;
    padding-top: 0.7rem;
}

.icon-container a {
    padding-top: 0.7rem;
    font-size: 0.7rem;
}

#CurrentPage ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

#CurrentPage li {
    margin-right: 1rem;
}
